/* global layout set-up */
* { 
  box-sizing: border-box;
}

/* font */
@font-face {
    font-family:"brody";src:url("BRODY.eot?")                                   format("eot"),url("BRODY.woff")                         format("woff"),url("BRODY.ttf")                         format("truetype"),url("BRODY.svg#Brody") 
format("svg");font-weight:normal; font--style:normal;
}

/* general */
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}

h1 {
    font-size: 1.5em;
}

/* link styles */

a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}

/* navigation */

.main-nav {
  width: 100%;
  background: #49443e;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  width: 50%;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.name-logo {
    display: block;
    margin-right: auto;
    font-weight: 500;
    color: #f7f5f0;
    font-family: "brody";
    font-size: 1.75em;
}

.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all .5s;
}
.nav a:hover {
  color: white
}

/* header */

header {
  text-align: center;
  background: url('images/winter-green-backdrop.jpg') no-repeat top center ;
  background-size: cover;
  overflow: hidden;
  padding-top: 80px;
  line-height: 1.5;
}

.experience {
  text-align: center;
  background: url('images/experience-background.jpg') no-repeat top center;
  background-size: cover;
  overflow: hidden;
  padding-top: 80px;
  line-height: 1.5;
}

header .profile-image {
  margin-top: 80px;
  margin-bottom: 20px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid #b9bec2;
  opacity: 1;
  transition: all 1.5s;
}

header .profile-image:hover {
  transform: scale(1.2) rotate(360deg);
}

.tag {
  background-color: #f7f5f0;
  color: #49443e;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 

/* main content */

.card {
  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}

.card:hover {
  border-color: #93944e;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #586353;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #93944e;
}

.education {
    list-style-type: none;
    padding-left: 1em;
}

.education li:nth-child(odd) {
    color: #93944e;
    font-weight: 500;
    padding-bottom: 4px;
}

.education li:nth-child(even) {
    margin-bottom: 15px;
}

/* footer */

footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .5;
  transition: all .5s;
}

a.linkedin {
  background-image: url(images/linkedin.bmp);
}

a.github {
  background-image: url(images/github.bmp);
}

a.social:hover {
  opacity: 1;
}

.clearfix {
  clear: both;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }
    
    .name-logo {
        padding-left: 30px;
        float: left;
    }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
      width: 20%;
      float: right;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

